h1{
    font-size: 50;
    color: white;
    font-style: italic;
    font-family: 'Dela Gothic One', cursive; ;
}
body {
    background-image: url(https://i.pinimg.com/originals/43/71/a5/4371a5030e717706b8264be1e8d6bdb1.jpg);
    background-size: 1700px;
}